$bg-color-header: #0A0A0A;
$bg-color-footer: #0A0A0A;
$color-link: #717171;
$color-h1: #490E84;
$bg-color-header-content: #F5F5F7;
$bg-color-header-button: #490E84;
$bg-color-order-form: #574B63;
$color-header-button: #FFF;