@import '_fonts.scss';
@import '_vars.scss';
@import '_mixins.scss';
@import '_reset.scss';

@import 'components/_header.scss';
@import 'components/_about.scss';
@import 'components/_select.scss';
@import 'components/_order.scss';
@import 'components/_footer.scss';


body {
    font-family: 'Inter-Regular';

}

.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1220px;
}

.iphone-image>* {
    width: 40px;
    height: 48px;
}

.contact-phone {
    padding: 0.3em;
    font-size: 1.5em;
    text-decoration: none;
    color: $color-link;

    @media (max-width:820px) {
        font-size: 1em;
        line-height: 100%;
    }
}