.footer {
    background-color: $bg-color-footer;

    &__inner {
        min-height: 130px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width:760px) {
            min-height: 90px;
        }

        @media (max-width:420px) {
            padding: 20px 0;
            flex-direction: column;
            gap: 10px;
        }
    }

    &__policy {
        font-size: .875em;
        line-height: 130%;
        color: #717171;
        text-transform: uppercase;

        @media (max-width:760px) {
            font-size: .6em;
            line-height: 100%;
        }
    }
}